<h1>Listing exchanges</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">amount</th>
    <th scope="col">rate</th>
    <th scope="col">result</th>
    <th scope="col">base currency</th>
    <th scope="col">target currency</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @exchanges.each do |exchange| %>
    <tr>
      <th scope="row"><%= exchange.amount %></th>
      <td><%= exchange.amount %></td>
      <td><%= exchange.rate %></td>
      <td><%= exchange.result %></td>
      <td><%= exchange.base %></td>
      <td><%= exchange.target %></td>
      <td><%= link_to 'Edit', edit_exchange_path(exchange), class: 'btn btn-info'%></td>
      <td><%= link_to 'Destroy', exchange, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Dashboard', root_url, turbolinks: false, class: 'btn btn-primary' %>